body
{
	background-color: rgba(255,255,255,1);
	/*background-image: url("../img/fondo.jpg");*/
}
.load
{
	margin: 80px;
	text-align: center;
	font-size: 1.4em;
}
.white-link
{
	line-height:35px;
	color:white;
	font-weight: bold; 
	text-decoration: underline
}
.oculto
{
	display: none;
}